@import './base.css';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #f8f9fa;
}

#app {
  width: 100%;
  max-width: none;
  padding: 0;
}